@import '../variables';

.login-header {
  background-color: $primary;
  .login-header-text { color: white; }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$navbar-height});
}
