@import '../variables';

.register-header {
  background-color: $primary;
  .register-header-text { color: white; }
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - #{$navbar-height});
}
